.section-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content-image-showcase img {
  width: 500px;
  height: 600px;
}
.content-title p {
  font-size: 20px;
}
@media only screen and (max-width: 1000px) {
  .content-image-showcase img {
    width: 400px;
  }
}
@media only screen and (max-width: 700px) {
  .section-one {
    display: flex;
    flex-direction: column;
  }
  .content-title h1 {
    text-align: center;
  }
  .content-title p {
    text-align: center;
  }
}
@media only screen and (max-width: 510px) {
  .content-image-showcase {
    padding: 20px;
  }
}
